/* --- Fonts --- */

/* SN Pro - Main */
@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

:root {
    --line-border-fill: #3498db;
    --line-border-empty: #e0e0e0; 
}

/* 
   Border box fits everything (content, margin, border, etc) into a defined width/height
   Otherwise, without it, content = width/height and padding, margin etc is extra on top
*/
* {
    box-sizing: border-box;
}

body {
    background-color: #f6f7fb;
    font-family: 'Muli', sans-serif;
    display: flex; /* So cnetering is easier */
    align-items: center; /* Align items = horizontal - centre of the column */
    justify-content: center; /* Centres them vertically */
    height: 100vh; /* height of 100vh takes up 100% of the browser screen */
}

.container {
    text-align: center;
}

/* Progress container is just the bar and numbers, not buttons */
.progress-container {
    display: flex;
    /* space-between uses reamining space and puts it between the elements - in this case, the numbers, so it spreads them out */
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    /* width max is the parent container width */
    max-width: 100%;
    width: 350px;
}

.progress-container::before {
    content: '';
    background-color: var(--line-border-empty);
    position: absolute;
    top: 50%;
    left: 0;
    height: 4px;
    width: 100%;
    /* -50% will push it up whens transorming on y axis */
    transform: translateY(-50%);
    z-index: -1;
}

.progress {
    background-color: var(--line-border-fill);
    position: absolute;
    top: 50%;
    left: 0;
    height: 4px;
    width: 0%;
    /* -50% will push it up when transorming on y axis */
    transform: translateY(-50%);
    z-index: -1;
    /* this is the transition from 1 to 2, to 3, etc... */
    transition: 0.4S ease;
}

.circle {
    background-color: #fff;
    color: #999;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid var(--line-border-empty);
    transition: 0.4s ease;
}

.circle.active {
 border-color: var(--line-border-fill);
}

.btn {
    background-color: var(--line-border-fill);
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
    font-family: inherit;
    padding: 8px 30px;
    margin: 5px;
    font-size: 14px;
}

.btn:active {
    /* This scales it down when you click it */
    transform: translateY(.98);
}

.btn:focus {
    outline: 0;
}

.btn:disabled {
    background-color: var(--line-border-empty);
    /* setting curser pointer to not allowed means that it won't show the hand when hover over it */ 
    cursor: not-allowed;
}